.sidenav li.user-view .user {
	background-image: url(/assets/icons/dinheiro.png);
}

.sidenav-main ul {
	background-color: var(--blue-lighten-1);
}

.sidenav-main li button {
	border-color: var(--blue-lighten-2) !important;
}

.sidenav-main li.active button {
	background-color: var(--blue-lighten-2);
	color: #fff;
}
