<ul cdkDropListGroup class="collapsible" #collapsible>
	<li *ngFor="let item of items; let index = index" cdkDropList [cdkDropListData]="items" (cdkDropListDropped)="drop($event)" class="nestable-node" [class.active]="isExpanded(index)">
		<div cdkDrag class="drag-item collapsible-header" [attr.data-index]="index" (click)="preventHeaderClick($event)">
			<ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item, index: index, toggle: toggleItem.bind(this), isExpanded: isExpanded.bind(this)}"></ng-container>
			<ng-template #defaultTemplate let-item let-i="i">
				<!-- Template padrão, caso nenhum seja passado -->
				{{ item.name }}
			</ng-template>
		</div>
		<div class="nestable-children collapsible-body" [attr.data-index]="index" cdkDropList [cdkDropListData]="item.children || []" (cdkDropListDropped)="drop($event, item)">
			<app-nestable *ngIf="item.children?.length" [items]="item.children || []" [itemTemplate]="itemTemplate"></app-nestable>
		</div>
	</li>
</ul>
