.nestable-list {
	padding-left: 0;
	list-style: none;
}

.nestable-node {
	border: 1px solid #eee;
	border-radius: 4px;
	margin: 4px;
	padding: 10px;
	background: #f9f9f9;
	transition: 2000ms;
}

.drag-item {
	/* background: #f9f9f99f; */
	/* border: 1px solid #eee; */
	/* padding: 10px; */
	margin: 4px;
	border-radius: 4px;
	transition: 2000ms;
}

.nestable-children {
	margin-left: 4px;
	transition: 2000ms;
	display: none;
	/* padding-left: 10px; */
	/* border-left: 2px dashed #ccc; */
}

.expanded {
	display: block;
}
