<ng-template ngTitle>Fluxo de Caixa</ng-template>
<!-- <ng-template ngHeader>Fluxo de Caixa: <span>{{ mes }}</span></ng-template> -->

<div class="row">
	<div class="col s12 m6 l3">
		<div class="card animate fadeLeft cyan white-text" routerLink="/caixa/entradas">
			<div class="card-content">
				<h5 class="card-stats-title uppercase bold no-margin">
					<span class="title skeleton skeleton-loading"> Entradas</span>
					<i class="material-icons skeleton skeleton-loading" style="font-size: 32px;">download</i>
				</h5>
				<h4 class="card-stats-number white-text bold skeleton skeleton-loading">{{ (entradas$ | async).toLocaleString('pt-br', { style: 'currency', currency: 'BRL'}) }}</h4>
			</div>
		</div>
	</div>
	<div class="col s12 m6 l3">
		<div class="card animate fadeLeft red white-text" routerLink="/caixa/saidas">
			<div class="card-content">
				<h5 class="card-stats-title uppercase bold no-margin">
					<span class="title skeleton skeleton-loading"> Saídas</span>
					<i class="material-icons skeleton skeleton-loading" style="font-size: 32px;">upload</i>
				</h5>
				<h4 class="card-stats-number white-text bold skeleton skeleton-loading">{{ (entradas$ | async).toLocaleString('pt-br', { style: 'currency', currency: 'BRL'}) }}</h4>
			</div>
		</div>
	</div>
	<div class="col s12 m6 l3">
		<div class="card animate fadeLeft orange white-text" routerLink="/caixa/aplicativos">
			<div class="card-content">
				<h5 class="card-stats-title uppercase bold no-margin">
					<span class="title skeleton skeleton-loading"> Aplicativos</span>
					<i class="material-icons skeleton skeleton-loading" style="font-size: 32px;">download</i>
				</h5>
				<h4 class="card-stats-number white-text bold skeleton skeleton-loading">{{ (entradas$ | async).toLocaleString('pt-br', { style: 'currency', currency: 'BRL'}) }}</h4>
			</div>
		</div>
	</div>
	<div class="col s12 m6 l3">
		<div class="card animate fadeLeft green white-text" routerLink="/caixa/patrimonio">
			<div class="card-content">
				<h5 class="card-stats-title uppercase bold no-margin">
					<span class="title skeleton skeleton-loading"> Patrimônio </span>
					<i class="material-icons skeleton skeleton-loading" style="font-size: 32px;">download</i>
				</h5>
				<h4 class="card-stats-number white-text bold skeleton skeleton-loading">{{ (entradas$ | async).toLocaleString('pt-br', { style: 'currency', currency: 'BRL'}) }}</h4>
			</div>
		</div>
	</div>
</div>
