<ng-container ngTitle="Fluxo de Caixa" />
<ng-container *ngHeader>
	Fluxo de Caixa: {{ mes }}
</ng-container>

<div class="row" *ngIf="route === 'fluxo-de-caixa'">
	<div class="col s12 m6 l6">
		<div class="card animate fadeLeft cyan white-text" routerLink="/fluxo-de-caixa/entradas">
			<div class="card-content">
				<h5 class="card-stats-title uppercase bold no-margin">
					<i class="material-icons right" style="font-size: 100px;">download</i> Entradas
				</h5>
				<h4 class="card-stats-number white-text bold">R$ 566,00</h4>
			</div>
		</div>
	</div>
	<div class="col s12 m6 l6">
		<div class="card animate fadeLeft cyan white-text" routerLink="/fluxo-de-caixa">
			<div class="card-content">
				<h5 class="card-stats-title uppercase bold no-margin">
					<i class="material-icons right" style="font-size: 100px;">upload</i> Saídas
				</h5>
				<h4 class="card-stats-number white-text bold">R$ 566,00</h4>
			</div>
		</div>
	</div>
	<div class="col s12 m6 l6">
		<div class="card animate fadeLeft cyan white-text" routerLink="/fluxo-de-caixa">
			<div class="card-content">
				<h5 class="card-stats-title uppercase bold no-margin">
					<i class="material-icons right" style="font-size: 100px;">download</i> Aplicativos
				</h5>
				<h4 class="card-stats-number white-text bold">R$ 566,00</h4>
			</div>
		</div>
	</div>
	<div class="col s12 m6 l6">
		<div class="card animate fadeLeft cyan white-text" routerLink="/fluxo-de-caixa">
			<div class="card-content">
				<h5 class="card-stats-title uppercase bold no-margin">
					<i class="material-icons right" style="font-size: 100px;">download</i> Patrimônio
				</h5>
				<h4 class="card-stats-number white-text bold">R$ 566,00</h4>
			</div>
		</div>
	</div>
</div>

<router-outlet></router-outlet>
