<header>
	<nav class="navbar-main navbar-fixed navbar-color nav-collapsible sideNav-lock navbar-dark z-depth-0">
		<div class="nav-wrapper">
			<a data-target="slide-out" id="btn-menu" class=""><i class="material-icons">menu</i></a>
			<h2 class="page-title" *ngIf="app.title$">{{ app.title$ | async }}</h2>
			<div class="navbar-list right">
				<a class="lancamentos waves-effect" (click)="openModalPeriodo()">
					<h4>Lançamentos: <span id="periodo-label">Mai/2025</span></h4>
					<input type="hidden" name="periodo" value="">
				</a>
			</div>
		</div>
		<app-preloader id="progress-bar">
			<ng-content>
				<div class="progress">
					<div class="indeterminate"></div>
				</div>
			</ng-content>
		</app-preloader>
	</nav>
</header>

<aside id="slide-out" class="sidenav sidenav-main sidenav-fixed">
	<ul>
		<li class="user-view">
			<button data-href="#user" class="user"></button>
			<button data-href="#name"><span class="name">{{ storage.getItem('username') }}</span></button>
			<button data-href="#email"><span class="email">{{ storage.getItem('email') }}</span></button>
		</li>
		<li routerLinkActive="active"> <button routerLink="/dashboard" class="waves-effect">Dashboard</button> </li>
		<li routerLinkActive="active"> <button routerLink="/entradas" class="waves-effect">Entradas</button> </li>
		<li routerLinkActive="active"> <button routerLink="/saidas" class="waves-effect">Saídas</button> </li>
		<li routerLinkActive="active"> <button routerLink="/aplicativos" class="waves-effect">Aplicativos</button> </li>
		<li routerLinkActive="active"> <button routerLink="/patrimonio" class="waves-effect">Patrimônio</button> </li>
	</ul>
	<div class="sidenav-footer">
		<a class="btn waves-effect" routerLinkActive="active" routerLink="projecao"><span class="material-icons">trending_up</span></a>
		<a class="btn waves-effect" routerLinkActive="active" routerLink="planejamento"><span class="material-icons">savings</span></a>
		<a class="btn waves-effect" routerLinkActive="active" routerLink="configuracoes"><span class="material-icons">settings</span></a>
		<a class="btn waves-effect" (click)="app.logout()"><span class="material-icons">logout</span></a>
	</div>
</aside>

<main id="main">

	<ng-container *ngIf="app.pageHeaderService.header() as template">
		<div class="page-header">
			<ng-container *ngTemplateOutlet="template"></ng-container>
		</div>
	</ng-container>

	<div class="row">
		<div class="col s12">
			<div class="container" style="padding-bottom: 5%;">
				<router-outlet />
			</div>
		</div>
	</div>

	<div class="fixed-action-btn" [style]="app.route === 'configuracoes' || app.route === 'fluxo-de-caixa' ? 'display: none' : null">
		<button class="btn-floating btn-large blue" routerLink="fluxo-de-caixa" data-tooltip="Fluxo de Caixa" data-position="left">
			<i class="large material-icons">point_of_sale</i>
		</button>
	</div>

	<div class="fixed-action-btn" [style]="app.route === 'configuracoes' || app.route !== 'fluxo-de-caixa' ? 'display: none' : null">
		<button class="btn-floating btn-large red">
			<i class="large material-icons">add</i>
		</button>
		<ul>
			<li><button class="btn-floating waves-effect red" title="Adicionar Entrada"> <i class="material-icons">download</i></button></li>
			<li><button class="btn-floating waves-effect yellow darken-1" title="Adicionar Saída"> <i class="material-icons">upload</i></button></li>
			<li><button class="btn-floating waves-effect green" title="Adicionar Investimento"> <i class="material-icons">attach_money</i></button></li>
			<li><button class="btn-floating waves-effect blue" title="Adicionar Patrimônio"> <i class="material-icons">real_estate_agent</i></button></li>
			<li><button class="btn-floating waves-effect blue" title="Adicionar Patrimônio"> <i class="material-icons">point_of_sale</i></button></li>
		</ul>
	</div>

	<div class="row">
		<div class="col s11 m6 l3">
			<div #modalPeriodo id="modal-periodo" class="modal periodo modal-footer-fixed">
				<div class="modal-content">
					<form action="#">
						<div class="row center-align">
							<div class="col s12 center-align">
								<div class="input-field">
									<label for="ano" class="active">Ano:</label>
									<select name="ano" id="ano">
										<option value="{{ a }}" *ngFor="let a of calendar.showYears()">{{ a }}</option>
									</select>
								</div>
							</div>
						</div>
						<div id="calendar-months" class="row">
							<div class="col s3 center-align" *ngFor="let m of calendar.showMonths(); let i = index">
								<label for="month_{{ m }}" class="btn">
									{{ m }}
									<input type="radio" name="mes" value="{{ i }}" id="month_{{ m }}">
								</label>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn right white-text modal-close blue">
						<i class="material-icons">close</i>
						<span>Fechar</span>
					</button>
				</div>
			</div>
		</div>
	</div>

</main>
