<header>
	<nav class="navbar-main navbar-fixed navbar-color nav-collapsible sideNav-lock navbar-dark z-depth-0">
		<div class="nav-wrapper">
			<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<h2 class="page-title" *ngIf="app.title$">{{ app.title$ | async }}</h2>
			<div class="navbar-list right">
				<div class="lancamentos">
					<h4>Lançamentos: <span data-target="modal-periodo" data-value="">Mai/2025</span></h4>
					<input type="hidden" name="periodo" value="">
				</div>
			</div>
		</div>
		<app-preloader id="progress-bar">
			<ng-content>
				<div class="progress">
					<div class="indeterminate"></div>
				</div>
			</ng-content>
		</app-preloader>
	</nav>
</header>

<aside id="slide-out" class="sidenav sidenav-main sidenav-fixed">
	<ul>
		<li class="user-view">
			<button data-href="#user" class="user"></button>
			<button data-href="#name"><span class="name">{{ storage.getItem('username') }}</span></button>
			<button data-href="#email"><span class="email">{{ storage.getItem('email') }}</span></button>
		</li>
		<li routerLinkActive="active"> <button routerLink="/dashboard" class="waves-effect">Dashboard</button> </li>
		<li routerLinkActive="active"> <button routerLink="/entradas" class="waves-effect">Entradas</button> </li>
		<li routerLinkActive="active"> <button routerLink="/saidas" class="waves-effect">Saídas</button> </li>
		<li routerLinkActive="active"> <button routerLink="/aplicativos" class="waves-effect">Aplicativos</button> </li>
		<li routerLinkActive="active"> <button routerLink="/patrimonio" class="waves-effect">Patrimônio</button> </li>
	</ul>
	<div class="sidenav-footer">
		<a class="btn waves-effect" routerLinkActive="active" routerLink="projecao"><span class="material-icons">finance</span></a>
		<a class="btn waves-effect" routerLinkActive="active" routerLink="planejamento"><span class="material-icons">savings</span></a>
		<a class="btn waves-effect" routerLinkActive="active" routerLink="configuracoes"><span class="material-icons">settings</span></a>
		<a class="btn waves-effect" (click)="app.logout()"><span class="material-icons">logout</span></a>
	</div>
</aside>

<main id="main">

	<ng-container *ngIf="app.pageHeaderService.header() as template">
		<div class="page-header">
			<ng-container *ngTemplateOutlet="template"></ng-container>
		</div>
	</ng-container>

	<div class="row">
		<div class="col s12">
			<div class="container">
				<router-outlet />
			</div>
		</div>
	</div>

</main>
