#preloader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	/* background: rgba(255, 255, 255, 0.8); */
	display: flex;
	align-items: center;
	justify-content: center;
}

#modal-periodo {
	padding: 0;
	height: 400px;
	min-height: 400px;
	max-height: 100%;
}

#calendar-months .btn.checked {
	background-color: var(--teal) !important;
	color: #fff !important;
}

#calendar-months .btn.disabled {
	background-color: var(--grey-lighten-3) !important;
	color: var(--grey-lighten-1) !important;
}
