<header class="p-4 bg-blue-600 text-white">
	<h1>{{ app.title$ | async }}</h1>
	<div id="preloader" *ngIf="app.preloaderService.loading$ | async">
		<div class="preloader-wrapper active">
			<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
</header>

<nav class="p-2 bg-blue-100">
	<a routerLink="/" class="mr-4">Home</a>
	<a routerLink="/sobre">Sobre</a>
</nav>

<main class="p-4">
	<router-outlet />
</main>

<footer class="p-4 bg-gray-200 text-center">
	<p>Todos os direitos reservados © 2025</p>
</footer>
