<div class="card card card-default border-radius-6 fixed-width">
	<div class="email-header" style="padding: 20px 20px 10px">
		<div class="left-icons">
			<div class="app-search">
				<i class="material-icons mr-2 search-icon">search</i>
				<input type="text" placeholder="Pesquisar" class="app-filter" id="email_filter">
			</div>
		</div>
		<div class="list-content"></div>
		<div class="email-action">
			<button class="btn btn-floating waves-effect green"><i class="material-icons white-text">add</i></button>
		</div>
	</div>
	<div class="card-content p-0 pb-2" style="min-height: calc(100vh - 260px)">
		<div class="collection">
			Carteiras digitais
		</div>
	</div>
</div>
