.uppercase {
	text-transform: uppercase !important;
}

.bold {
	font-weight: bold !important;
}

.list li {
	list-style-type: disc !important;
}

.list li>ul>li {
	list-style-type: circle !important;
	margin-left: 15px;
}

.btn {
	display: inline-flex;
	place-content: center;
	align-items: center;
}

.menu-collapsed main {
	padding-left: 0;
}

.menu-collapsed .app-sidebar {
	left: 0 !important;
}

.menu-collapsed .page-title {
	margin-left: 52px;
}

.menu-collapsed .progress {
	width: 100% !important;
	left: 0;
}

.btn:not(.btn-floating) i,
.btn:not(.btn-floating) span {
	margin: 0 10px;
}

header {
	height: 64px;
	line-height: 64px;
	position: relative;
	z-index: 997;
}

.navbar-list .lancamentos {
	position: relative;
	top: -3px;
}

.navbar-list .lancamentos h4,
.navbar-list .lancamentos span {
	text-align: right;
	text-transform: uppercase;
}

.navbar-list .lancamentos h4 {
	font-size: 13px;
	line-height: 1.3;
	display: flex;
	flex-direction: column;
	text-align: right;
	text-transform: uppercase;
	margin: 12px 0 0;
}

.navbar-list .lancamentos h4 span {
	display: block;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	position: relative;
	padding-right: 15px;
}

.navbar-list h4 span::after {
	content: '';
	position: absolute;
	border-width: 5px;
	border-color: #fff transparent transparent;
	border-style: solid;
	width: 5px;
	height: 5px;
	top: 10px;
	right: 0px;
}

.navbar-fixed {
	position: fixed;
	height: inherit;
	line-height: inherit;
}

nav .sidenav-trigger,
nav .sidenav-trigger i {
	height: 64px;
	line-height: 64px;
}

.navbar-main {
	background-color: #4A90E2;
	padding: 0 20px 0 0;
	place-content: space-between;
	border-bottom: 4px solid #d9d9d9;
	box-shadow: none;
}

.page-title {
	font-size: 19px;
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: inherit;
	margin: 0;
	margin-left: 320px;
	max-width: calc(100% - 70px);
	float: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media screen and (max-width: 992px) {
	.navbar-main .page-title {
		margin-left: 0;
	}
}

.error {
	position: absolute;
	margin: 0;
	line-height: normal;
	left: 20px;
	padding: 0;
	margin-top: -9px;
	color: var(--red);
}

.no-margin {
	margin: 0 !important;
}

.input-field .ng-invalid {
	border: 2px solid rgba(255, 0, 0, 0.9) !important
}

.sidenav-main {
	height: 100%;
	overflow: hidden;
	background-color: var(--grey-darken-3);
}

.sidenav-main ul {
	height: inherit;
	overflow: auto;
	margin: 0;
}

.sidenav-main li.user-view .user {
	background-image: url(/assets/icons/fluxo-de-caixa.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	width: 150px;
	height: 150px;
	margin: auto;
}

.sidenav-main li.user-view button {
	text-transform: none;
	border: none;
}

.sidenav-main li>a,
.sidenav-main li>button {
	display: block;
	font-size: 14px;
	font-weight: 500;
	height: 48px;
	width: 100%;
	line-height: 48px;
	padding: 0 32px;
	border-radius: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #000;
	line-height: 48px;
	background: inherit;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Montserrat Bold';
	color: #000;
}

@media only screen and (min-width: 601px) {

	nav,
	nav .nav-wrapper i,
	nav a.sidenav-trigger,
	nav a.sidenav-trigger i {
		height: inherit;
		line-height: inherit;
		margin: 0;
	}

	nav a#btn-menu {
		position: absolute;
		width: 50px;
		text-align: center;
		cursor: pointer;
	}

	nav a#btn-menu i {
		width: 1%;
		margin: auto;
		text-align: center;
		display: flex;
		place-content: center;
	}
}
















.sidenav-main .user-view {
	position: relative;
	padding: 32px 32px 0;
	margin-bottom: 8px;
}

.sidenav-main li:not(.user-view) {
	margin: 10px 20px;
	background-color: transparent;
}

.sidenav-main li>a,
.sidenav-main li>button {
	display: block;
	font-size: 14px;
	font-weight: 500;
	height: 48px;
	width: 100%;
	line-height: 48px;
	padding: 0 32px;
	border-radius: 24px;
	border-width: 2px;
	border-style: solid;
	border-color: #000;
	line-height: 48px;
	background: inherit;
	text-transform: uppercase;
	font-weight: 500;
	font-family: sans-serif;
}

.sidenav-main li:not(.user-view) a,
.sidenav-main li:not(.user-view) button {
	background-color: transparent;
	border-radius: 24px;
	text-transform: uppercase;
	border-color: #3c50b6;
	color: #fff;
}

.sidenav-main li.active a,
.sidenav-main li.active button {
	background-color: var(--blue-grey);
	border-color: transparent;
}

.sidenav-main li.active button {
	background-color: var(--blue-lighten-2);
	border-color: transparent;
	color: #fff;
}

.sidenav-footer {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
	height: 60px;
}

.sidenav-footer .btn {
	border-left: 1px rgba(0, 0, 0, 0.2) solid;
	border-radius: 0;
	background: #372b32;
	float: none;
	display: table-cell;
	width: 1%;
	line-height: inherit;
	height: inherit;
}

.sidenav-footer .btn.active {
	background: rgba(0, 0, 0, 0.8);
}

.sidenav-footer .btn .material-icons {
	margin: 0;
}

.sidenav-main li .active {
	background-color: rgba(0, 0, 0, 0.05);
}

.sidenav-main li>a {
	padding: 0 20px;
}

.sidenav-main li>a>i,
.sidenav-main li>a>[class^=mdi-],
.sidenav-main li>a li>a>[class*=mdi-],
.sidenav-main li>a>i.material-icons {
	margin: 0 20px 0 0;
}

.sidenav-footer {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
	height: 60px;
}

.row {
	margin-bottom: 0;
}

.row>.col>.modal {
	width: inherit;
}

.row .modal.fullscreen {
	width: 98% !important;
	height: 96%;
	max-height: 100%;
}

.row .modal:not(.bottom-sheet).fullscreen {
	top: 2% !important;
}

.modal.bottom-sheet {
	max-height: 100%;
	height: 80%;
	top: auto;
}

.modal-header {
	position: relative;
	min-height: 48px;
	line-height: 48px;
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.modal-header .tabs {
	background-color: transparent;
}

.modal-header .modal-nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* #modal-dialog.modal.modal-fixed-footer {
	height: 30% !important;
	max-height: 30% !important;
} */
#modal-dialog.modal.modal-fixed-footer {
	height: 280px !important;
	max-height: 100% !important;
}

.modal.modal-fixed-footer .modal-header~.modal-content {
	height: calc(100% - 104px);
	overflow: auto;
}

main {
	padding-left: 300px;
}

main .content {
	position: relative;
	height: calc(100vh - 147px);
	padding: 20px 15px;
}

.container {
	width: 100%;
	max-width: 100%;
	padding: 15px;
}

@media screen and (max-width: 992px) {
	main {
		padding-left: 0;
	}
}

/* #preloader,
#preloader-modal,
.modal-progress {
	z-index: 997;
	position: absolute;
	top: 0;
	left: 0px;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	place-content: center;
	background-color: #ffffff;
} */

.progress.modal-progress {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 997;
	display: flex;
	align-items: center;
	place-content: center;
	width: inherit;
	height: 4px;
}

body:has(#login-page) #preloader {
	left: 0;
	display: none !important;
}

.progress {
	height: 4px;
	width: calc(100% - 300px);
	background-color: #acece6;
	border-radius: 2px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	left: 300px;
	z-index: 999;
	bottom: -4px;
}

.progress .indeterminate {
	background-color: #4A90E2;
}

.progress#preloader-modal {
	position: absolute;
	left: 0;
	height: 4px;
	display: block;
	width: 100%;
	background-color: #acece6;
	border-radius: 0;
	margin: 46px 0 0rem 0;
	overflow: hidden;
	z-index: 999999;
}

.modal:not(:has(.modal-header)) .progress#preloader-modal {
	margin: 0;
}

.modal.loading::before {
	/* content: "";
	background-color: rgba(255, 255, 255, 0.4);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9999; */
}

/*************MODAL***************/

/* .modal {
	transform: scale(0.8) !important;
	transition: transform var(150ms, 0ms) cubic-bezier(0, 0, 0.2, 1);
	top: 50%;
}

.modal.open {
	transform: scale(1) !important;
	opacity: 1;
} */
.modal {
	opacity: 0;
	transition:
		transform 150ms cubic-bezier(0.1, 0, 0.2, 1),
		opacity 150ms cubic-bezier(0.1, 0, 0.2, 1);
	will-change: transform, opacity;
	border-radius: 24px;
}

.modal .modal-footer {
	padding: 10px 24px;
	height: auto;
}

.modal.open {
	opacity: 1;
}

.modal-overlay {
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: opacity 100ms cubic-bezier(0, -1, 0, 1);
}

.modal-overlay.open {
	opacity: 1;
}

/*************MODAL***************/

.input-field>label {
	padding: 0 5px;
	margin-left: 18px;
	z-index: 2;
	-webkit-transition: color .1s ease-out, -webkit-transform .1s ease-out;
	transition: color .1s ease-out, -webkit-transform .1s ease-out;
	transition: transform .1s ease-out, color .1s ease-out;
	transition: transform .1s ease-out, color .1s ease-out, -webkit-transform .1s ease-out;
}

.input-field>label,
label {
	font-weight: 600;
	text-overflow: ellipsis;
	/* overflow: hidden; */
	white-space: nowrap;
	max-width: 90%;
	font-size: 16px;
}

.switch {
	margin-top: 10px;
}

.switch label {
	font-weight: inherit;
}

.switch label .lever {
	margin: 0 10px;
}

.input-field>label::before {
	content: "";
	background-color: #fafafa;
	height: 4px;
	width: 0;
	position: absolute;
	top: 11px;
	left: 50%;
	z-index: -1;
	transition-delay: 200ms;
	transition: all 200ms;
}

.input-field>label.active::before {
	width: 100%;
	left: 0;
}

.input-field>label:not(.label-icon).active {
	-webkit-transform: translateY(-9px) scale(0.8);
	transform: translateY(-9px) scale(0.8);
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
	border: 2px solid #ccc;
	border-radius: 26px;
	padding: 0 22px;
	width: calc(100% - 44px);
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
.select-wrapper input.select-dropdown:focus {
	border: 2px solid var(--blue);
	-webkit-box-shadow: none;
	box-shadow: none;
}

input:not([type]):disabled,
input:not([type])[readonly=readonly],
input[type=text]:not(.browser-default):disabled,
input[type=text]:not(.browser-default)[readonly=readonly],
input[type=password]:not(.browser-default):disabled,
input[type=password]:not(.browser-default)[readonly=readonly],
input[type=email]:not(.browser-default):disabled,
input[type=email]:not(.browser-default)[readonly=readonly],
input[type=url]:not(.browser-default):disabled,
input[type=url]:not(.browser-default)[readonly=readonly],
input[type=time]:not(.browser-default):disabled,
input[type=time]:not(.browser-default)[readonly=readonly],
input[type=date]:not(.browser-default):disabled,
input[type=date]:not(.browser-default)[readonly=readonly],
input[type=datetime]:not(.browser-default):disabled,
input[type=datetime]:not(.browser-default)[readonly=readonly],
input[type=datetime-local]:not(.browser-default):disabled,
input[type=datetime-local]:not(.browser-default)[readonly=readonly],
input[type=tel]:not(.browser-default):disabled,
input[type=tel]:not(.browser-default)[readonly=readonly],
input[type=number]:not(.browser-default):disabled,
input[type=number]:not(.browser-default)[readonly=readonly],
input[type=search]:not(.browser-default):disabled,
input[type=search]:not(.browser-default)[readonly=readonly],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly=readonly] {
	border: 2px dotted rgba(0, 0, 0, 0.3);
	cursor: default;
	background-color: rgba(0, 0, 0, 0.04);
}

.dropdown-content.select-dropdown {
	max-height: 200px;
}

.input-field input[type=search]:focus:not(.browser-default) {
	background-color: transparent;
}

.tabs .tab a {
	font-weight: 600;
	font-size: 16px;
	color: rgba(74, 144, 226, 0.8);
	background: transparent;
}


.tabs .tab a:hover,
.tabs .tab a.active {
	color: rgba(74, 144, 226, 1);
}


.tabs .tab a:focus,
.tabs .tab a:focus.active,
.tabs .tab a.active {
	background: rgba(74, 144, 226, 0.1);
}

.tabs .indicator {
	background-color: rgba(74, 144, 226, 1);
}

/*
.toolbar-main {
	position: relative;
	height: 60px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	padding: 9px 15px;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.08);
	margin-bottom: 20px;
}
 */

.page-header {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.05);
	position: relative;
	padding: 25px;
	z-index: 997;
}

.breadcrumb {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
}

.breadcrumb:last-child {
	color: rgba(0, 0, 0, 0.65);
}

.breadcrumb:before {
	content: "\e5cc";
	color: rgba(0, 0, 0, 0.5);
	vertical-align: top;
	display: inline-block;
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	margin: 0 5px 0 5px;
	-webkit-font-smoothing: antialiased;
}

.toolbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 300px;
}

.content {
	position: relative;
	overflow: auto;
}

.card,
.toolbar-main {
	border-radius: 15px;
}

.card-panel:not(.login-card) {
	padding: 0;
	height: calc(100vh - 200px);
}


.collapsible {
	border-left: 3px solid #2196f3;
	background-color: #fcfcfc;
	border-radius: 4px;
	font-size: 14px;
}

.collapsible>li {
	margin: 0;
}

.collapsible-header {
	display: flex;
	align-items: center;
	padding: 16px 12px;
	font-weight: 500;
	color: #333;
	cursor: default;
	transition: background-color 0.2s ease;
}

.collapsible-header i {
	width: 2rem;
	font-size: 1.6rem;
	display: inline-block;
	text-align: center;
	margin-right: 0;
}

.collapsible-header:hover {
	background-color: rgba(0, 0, 0, 0.03);
}

.collapsible-body {
	background-color: #ffffff;
	padding: 10px 12px;
	color: #333;
	line-height: 1.4;
	margin: 0;
}

.collapsible-header:hover .btn-actions .btn:not(.btn-expand) {
	opacity: 1;
}

.btn-actions {
	align-items: center;
	display: flex;
	place-content: end;
	flex: 1;
}

.btn-expand {
	background-color: #2196f3;
	color: #fff;
	font-size: 12px;
	padding: 4px 8px;
	border-radius: 3px;
}

.btn-actions .btn {
	margin: 0 5px;
	color: #444;
}

.btn-actions .btn i {
	color: inherit;
}

.btn-actions .btn:hover {
	background-color: rgba(0, 0, 0, 0.08) !important;
}

.btn-actions .btn:not(.btn-expand) {
	opacity: 0;
	transition: opacity 300ms;
}
