<ng-container ngTitle="Dashboard" />
<ng-container *ngHeader=""></ng-container>

<div id="card-stats" class="row">
	<div class="col s12 m6 l3">
		<div class="card animate z-depth-2 fadeLeft">
			<div class="card-content cyan white-text">
				<p class="card-stats-title"><i class="material-icons">download</i> Entradas</p>
				<h4 class="card-stats-number white-text">R$ 566,00</h4>
				<p class="card-stats-compare">
					<!-- <i class="material-icons">keyboard_arrow_up</i> 15%
					<span class="">from yesterday</span> -->
					<small class="bold uppercase">Média de receita por dia</small>
					<small class="bold valor">R$ <span class=""> -</span></small>
				</p>
			</div>
			<div class="card-action cyan darken-1">
				<!-- <div id="sparkline"></div> -->
				<div id="entradas" class="center-align"></div>
			</div>
		</div>
	</div>
	<div class="col s12 m6 l3">
		<div class="card animate z-depth-2 fadeLeft">
			<div class="card-content red accent-2 white-text">
				<p class="card-stats-title"><i class="material-icons">upload</i> Saídas</p>
				<h4 class="card-stats-number white-text">566</h4>
				<p class="card-stats-compare">
					<!-- <i class="material-icons">keyboard_arrow_up</i> 15%
					<span class="">from yesterday</span> -->
					<small class="bold uppercase">Média de despesas por dia</small>
					<small class="bold valor">R$ <span class=""> -</span></small>
				</p>
			</div>
			<div class="card-action red">
				<div id="saidas" class="center-align"></div>
			</div>
		</div>
	</div>
	<div class="col s12 m6 l3">
		<div class="card animate z-depth-2 fadeLeft">
			<div class="card-content orange lighten-1 white-text">
				<p class="card-stats-title"><i class="material-icons">money_bag</i> Investimentos</p>
				<h4 class="card-stats-number white-text">566</h4>
				<p class="card-stats-compare">
					<!-- <i class="material-icons">keyboard_arrow_up</i> 15%
					<span class="">from yesterday</span> -->
					<small class="bold uppercase">Média dos Investimentos por dia</small>
					<small class="bold valor">R$ <span class=""> -</span></small>
				</p>
			</div>
			<div class="card-action orange">
				<div id="investimentos" class="center-align"></div>
			</div>
		</div>
	</div>
	<div class="col s12 m6 l3">
		<div class="card animate z-depth-2 fadeLeft">
			<div class="card-content green lighten-1 white-text">
				<p class="card-stats-title"><i class="material-icons">savings</i> Caixa Emergencial</p>
				<h4 class="card-stats-number white-text">566</h4>
				<p class="card-stats-compare">
					<!-- <i class="material-icons">keyboard_arrow_up</i> 15%
					<span class="">from yesterday</span> -->
					<small class="bold uppercase">Média de cx. emergencial por dia</small>
					<small class="bold valor">R$ <span class=""> -</span></small>
				</p>
			</div>
			<div class="card-action green">
				<div id="caixa_emergencial" class="center-align"></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div id="resumo-mensal" class="col s12 m6">
		<div class="card z-depth-0 transparent no-margin">
			<div class="card-content">
				<div class="card-title left-align grey-text uppercase">Resumo Mensal</div>

				<ng-container>
					<div class="row" *ngFor="let m of resumo">
						<div class="col s6 m6">
							<div class="meses" *ngFor="let mes of m.e">
								<span style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; max-width: 50%;">
									{{ width <= 992 ? mes.mesAbr : mes.mes }}
								</span>
								<span>
									{{ mes.valor.toLocaleString('pt-br', { style: 'currency', currency: 'BRL'}) }}
								</span>
							</div>
						</div>
						<div class="col s6 m6">
							<div class="meses" *ngFor="let mes of m.d">
								<span style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; max-width: 50%;">
									{{ width <= 992 ? mes.mesAbr : mes.mes }}
								</span>
								<span>
									{{ mes.valor.toLocaleString('pt-br', { style: 'currency', currency: 'BRL'}) }}
								</span>
							</div>
						</div>
					</div>
				</ng-container>
				<ng-template #noResults> Nenhum dado </ng-template>
			</div>
		</div>
	</div>
	<div id="grafico-stats" class="col s12 m6">
		<div class="card z-depth-0 transparent no-margin">
			<div class="card-content">
				<div class="card-title left-align grey-text uppercase">Análise</div>
				<apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [title]="chartOptions.title"></apx-chart>
			</div>
		</div>
	</div>
</div>
