.sidenav li.user-view .user {
	background-image: url(/assets/icons/dashboard.png);
}

.sidenav-main ul {
	background-color: var(--blue-lighten-1);
}

.sidenav-main li button {
	border-color: var(--blue-lighten-2) !important;
}

.sidenav-main li.active button {
	background-color: var(--blue-lighten-2);
	color: #fff;
}

#resumo-mensal .meses {
	display: flex;
	justify-content: space-between;
	padding: 12px 20px;
	background: -webkit-linear-gradient(45deg, var(--blue-grey-transparent), #ccc) !important;
	background: linear-gradient(45deg, var(--blue-grey-transparent), #ccc) !important;
	border-radius: 10px;
	margin: 4px 0;
	/* width: calc((100% / 2) - 2rem); */
}

#resumo-mensal .meses span {
	display: inline-block;
	color: #000;
	text-transform: uppercase;
	max-width: 90%;
	min-width: 30%;
}

#resumo-mensal .meses span:first-child {
	text-align: left;
}

#resumo-mensal .meses span:last-child {
	text-align: right;
	font-weight: bold;
}

#resumo-mensal .meses span.right {
	color: rgba(255, 255, 255, 0.7);
}

#resumo-mensal .meses span .valor {
	text-align: right;
	display: inline-block;
	color: inherit;
}

.card-stats-title i {
	margin-right: 10px;
}
