<ng-template ngTitle>
	<button routerLink="/caixa" class="back-button btn-small btn-floating btn-flat transparent waves-effect">
		<i class="material-icons">arrow_back</i>
	</button>
	Entradas
</ng-template>

<ng-template ngHeader>
	<div class="title-header">
		Fluxo de Caixa: <span> {{ `${caixa.mes}/${caixa.ano}` }}</span>
	</div>
	<div class="search-header">
		<input type="search" class="search" (blur)="caixa.closeSearchInput()" [formControl]="searchControl">
		<i class="material-icons">search</i>
	</div>
	<div class="btn-group">
		<button id="btn-search" (click)="caixa.openSearchInput()" class="btn btn-floating btn-flat grey lighten-2 waves-effect">
			<i class="material-icons black-text">search</i>
		</button>
		<button class="btn btn-floating right green waves-effect" (click)="openModal()">
			<i class="material-icons">add</i>
		</button>
	</div>
</ng-template>

<table>
	<thead>
		<tr>
			<!-- <th class="center-align">#</th> -->
			<th class="center-align">Descrição</th>
			<th class="center-align">Tipo</th>
			<th class="center-align">Categoria</th>
			<th class="">Data</th>
			<th class="center-align">Valor</th>
			<!-- <th class="center-align">Saldo</th> -->
			<th class="center-align">Ações</th>
		</tr>
	</thead>
	<tbody>
		<ng-container>
			<tr *ngIf="isLoading; else dataLoaded">
				<td colspan="6">Carregando...</td>
			</tr>
		</ng-container>
		<ng-template #dataLoaded>
			<ng-content *ngIf="((entradas$ | async) ?? []).length > 0; else noResults">
				<tr *ngFor="let item of (entradas$ | async)">
					<!-- <td class="center-align">{{ id+1 }}</td> -->
					<td>{{ item.descricao }}</td>
					<td>{{ item.tipo }}</td>
					<td>{{ item.categoria }}</td>
					<td>{{ item.data }}</td>
					<td class="right-align"><span class="left">R$</span> {{ caixa.moeda(item.valor / 100) }}</td>
					<!-- <td class="right-align"><span class="left">R$</span> 900,00</td> -->
					<td class="center-align">
						<button class="btn btn-flat btn-floating transparent btn-small waves-effect modal-trigger" data-target="#modal-categoria" (click)="openModal(item.id)">
							<i class="material-icons grey-text text-darken-1">edit</i>
						</button>
						<button class="btn btn-flat btn-floating transparent btn-small waves-effect btn-delete" (click)="dialog(item.id)">
							<i class="material-icons grey-text text-darken-1">delete</i>
						</button>
						<!-- <button class="btn-flat btn-floating transparent btn-small waves-effect btn-status" (click)="updateStatus(item)">
							<i class="material-icons grey-text text-darken-1">{{ item.status === '1' ? 'visibility' : 'visibility_off' }}</i>
						</button> -->
					</td>
				</tr>
			</ng-content>
		</ng-template>
		<ng-template #noResults>
			<tr *ngIf="(entradas$ | async)?.length === 0">
				<td colspan="6">Nenhum resultado encontrado.</td>
			</tr>
		</ng-template>
	</tbody>
</table>

<div class="row">
	<div class="col s10 m6 l4">
		<div #modalDialog id="modal-dialog" class="modal modal-fixed-footer">
			<div class="modal-content">
				<h4>Atenção</h4>
				<p>Esta ação removerá o cartão selecionado.</p>
				<p>Essa operação é irreversível. Deseja continuar mesmo assim?</p>
			</div>
			<div class="modal-footer">
				<button class="btn white grey-text modal-close left">
					<span>Não</span>
				</button>
				<button class="btn red white-text right btn-confirm waves-effect">
					<span>Sim</span>
				</button>
			</div>
		</div>
	</div>
</div>

<form [formGroup]="entradasForm.getForm()" (ngSubmit)="save()" autocomplete="off" autocapitalize="true">
	<div class="row">
		<div class="col s12 l4">
			<div #modalForm id="modal-form" class="modal modal-fixed-footer">
				<app-preloader id="preloader-entrada">
					<ng-content>
						<div class="progress modal-progress">
							<div class="indeterminate"></div>
						</div>
					</ng-content>
				</app-preloader>
				<div class="modal-content">

					<div class="row">
						<div class="col s12">
							<div class="input-field">
								<label for="descricao">Descrição</label>
								<input type="text" formControlName="descricao" id="descricao" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col s6">
							<div class="input-field">
								<label for="valor">Valor</label>
								<input type="tel" formControlName="valor" id="valor" appMask="decimal" data-align="left" maxlength="20" required>
							</div>
						</div>
						<div class="col s6">
							<div class="input-field">
								<label for="data" class="active">Data</label>
								<input type="text" formControlName="data" #datepicker id="data" placeholder="dd/mm/aaaa" readonly>
							</div>
						</div>
					</div>
					<!-- <div class="row">
				<div class="col s12">
					<div class="input-field">
						<label for="tipo" class="active">Tipo</label>
						<select formControlName="tipo" id="tipo" required>
							<option value="" selected="selected">Informe o tipo</option>
						</select>
					</div>
				</div>
			</div> -->
					<input type="hidden" formControlName="tipo">

					<div class="row">
						<div class="col s12">
							<div class="input-field">
								<label for="categoria" class="active">Categoria</label>
								<select formControlName="categoria" id="categoria" required>
									<option value="" selected="selected">Informe a categoria</option>
									<option *ngFor="let c of (categorias$ | async)" value="{{ c.id }}">{{ c.titulo }}</option>
								</select>
							</div>
						</div>
					</div>

					<!-- <div class="row">

				<div class="col s8">
					<div class="input-field">
						<label for="formaPagamento" class="active">Forma de pagamento</label>
						<select formControlName="formaPagamento" id="formaPagamento" required (change)="toggleInputParcelas($event)">
							<option value="" selected="selected">Informe a forma de pagamento</option>
							<option value="cartao">Cartão de Crédito</option>
							<option value="dinheiro">Dinheiro</option>
							<option value="pix">Pix</option>
						</select>
					</div>
				</div>

				<div id="input-parcelas" class="col s4">
					<div class="input-field">
						<label for="parcelas">Parcelas</label>
						<input type="tel" formControlName="parcelas" id="parcelas">
					</div>
				</div>

			</div> -->

				</div>
				<div class="modal-footer">
					<button type="reset" class="btn waves-effect white black-text left modal-close">
						<i class="material-icons left">cancel</i>
						<span>Cancelar</span>
					</button>
					<button type="submit" class="btn waves-effect green" [disabled]="entradasForm.invalid() || entradasForm.submited()">
						<i class="material-icons left">save</i>
						<span>Salvar</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>

<footer class="page-footer footer-fixed grey-text text-darken-3" style="background-color: #f4f4f4;">
	<div class="">
		<div class="container center-align">
			<div class="row">
				<div class="col s12">
					<span class="breadcrumb">Total das entradas: {{ caixa.moeda(valorTotal) }}</span>
					<span class="breadcrumb">Valor médio por dia: {{ caixa.moeda(mediaDia) }}</span>
					<span class="breadcrumb">Mês anterior: {{ caixa.moeda(mesAnteriorTotal) }}</span>
				</div>
			</div>
		</div>
	</div>
</footer>


<style>
	footer .breadcrumb {
		font-size: 15px;
		font-weight: bold;
	}

	footer .breadcrumb:before {
		content: "";
		/* vertical-align: baseline; */
		display: inline-block;
		font-family: "Material Icons";
		font-weight: normal;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		margin: 0 10px 0px 5px;
		-webkit-font-smoothing: antialiased;
		border-style: solid;
		border-color: transparent transparent transparent rgba(0, 0, 0, 0.2);
		border-width: 1px;
		height: 23px;
	}

	footer .breadcrumb:before,
	footer .breadcrumb:last-child {
		color: rgba(0, 0, 0, 0.5);
	}
</style>
